# ----------------------
# Flask
# ----------------------
flask
requests

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn

flask_sslify
web3
